<body>
  <h1>About</h1>
  <br>

  <div class="row align-items-start" data-aos="fade-right">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <p> I'm Ayesha Arshad! I'm in my second year of Electrical Engineering at McMaster University and am
            super passionate about exploring new technologies, attending hackathons, and all things tech.
            I find great joy in growing my knowledge in the various fields of tech, such as AI/Machine Learning,
            DevOps, FrontEnd, and Mobile! I am always willing to work on new projects, so please feel free to reach
            out at any time to collaborate :)
          </p>
        </div>
      </div>

    </div>

    <div class="col" data-aos="fade-left">

      <div id="sliderContainer">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <!-- <div class="carousel-item active">
               <img src="./static/img/ayesha.jpg" class="d-block w-300" alt="logo"> 
              <img src="./static/img/codepic.png" class="d-block w-300" alt="logo" media="(min-width: 769px)">
            </div> -->
            <div class="carousel-item active">
              <img src="./static/img/ayesha.jpg" class="d-block w-300" alt="logo">
            </div>

          </div>
          <!--  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
        </div>
      </div>
    </div>
  </div>






  <br>



  <br>





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

</body>
