<style>
  div.slide-right {
    width: 100%;
    overflow: hidden;
    background-color: #222230;
  }

  div.slide-right p {
    animation: 1s slide-right;
  }

  @keyframes slide-right {
    from {
      margin-left: -100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
</style>

<body>
  <div class="card" data-aos="fade-right">
    <div class="card-body" style="color: white;">

      <h5 class="card-title" style="font-size: 20px">Major League Hacking | Production Engineering Fellow</h5>
      <h6 class="card-subtitle mb-2 text-muted" style="font-size: 13px"> Remote | June 2021 - August 2021</h6>
      <p class="card-text" style="color: #b2bec3;">
        Built and deployed a scalable Flask web app integrated with a PostgreSQL database to allow users to
        login/register.
        Set up a CI/CD pipeline through Github Actions for automated testing and deployment. Configured
        Linux systems and infrastructures.

      </p>
      <span class="badge bg-secondary">Python</span>
      <span class="badge bg-secondary">Flask</span>
      <span class="badge bg-secondary">HTML & CSS</span>
      <span class="badge bg-secondary">Github Actions</span>
      <span class="badge bg-secondary">Docker</span>
      <span class="badge bg-secondary">PostgreSQL</span>
      <span class="badge bg-secondary">Linux</span>
      <span class="badge bg-secondary">Bash Scripting</span>
      <span class="badge bg-secondary">Amazon Web Services (AWS) </span>
      <span class="badge bg-secondary">Grafana</span>
      <span class="badge bg-secondary">CI/CD</span>
      <span class="badge bg-secondary">NginX</span>
    </div>
  </div>
  <br>

  <div class="card" data-aos="fade-right">
    <div class="card-body" style="color: white;">

      <h5 class="card-title" style="font-size: 20px">McMaster Makers | Project Developer</h5>
      <h6 class="card-subtitle mb-2 text-muted" style="font-size: 13px">Hamilton, ON | May 2021 - PRESENT</h6>
      <p class="card-text" style="color: #b2bec3;">
        Built software workshops for the student body at McMaster University with the goal to involve the student
        body
        with tech. Additionally,
        instruct software workshops at hackathons, such as DeltaHacks.
      </p>
    </div>
  </div>
  <br>
  <div class="card" data-aos="fade-right">
    <div class="card-body" style="color: white;">

      <h5 class="card-title" style="font-size: 20px">Kumon Math & Reading Centre | EL Assistant </h5>
      <h6 class="card-subtitle mb-2 text-muted" style="font-size: 13px">Ajax, ON | November 2019 - March 2020</h6>
      <p class="card-text" style="color: #b2bec3;">
        Directed and tutored a group of 3-4 children at once and tutored a new group every hour in a fast-paced
        environment.
        Supervised and monitored the progress of 40+ students while focusing on students who need extra help with
        classwork.
        Increased daily worksheet grading quota in 5 months by single-handedly grading all worksheets assigned quickly
        and marking
        additional student folders left unassigned by employees.
        Communicated with parents regarding their child’s progress in oral communication, reading, writing, and math
        skills.
      </p>
    </div>
  </div>
  <!-- </div> -->




</body>