<style>
  div.slide-right {
    width: 100%;
    overflow: hidden;
    background-color: #222230;
  }

  div.slide-right p {
    animation: 1s slide-right;
  }

  @keyframes slide-right {
    from {
      margin-left: -100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
</style>

<body>
  <div class="card" data-aos="fade-right">
    <div class="card-body" style="color: white;">

      <h5 class="card-title" style="font-size: 20px">Microsoft | Software Engineering Intern</h5>
      <h6 class="card-subtitle mb-2 text-muted" style="font-size: 13px"> Mountain View, California, USA | May 2023 - August
        2023</h6>
      <p class="card-text" style="color: #b2bec3;">
        I built an API for on-call engineers designed to assess the criticality of customer tickets for service downtime, optimizing incident response by 40%. 
        While designing the feature, I worked closely with the PMs to ensure seamless alignment between API implementation and changing specifications.
        Along with the PMs, I queried Kusto databases to analyze data regarding customer tickets. Furthermore, I built a Blazor web app that displays the 
        criticality of customer tickets using the API. 
        To enhance the functionality of the web app, I took initiative to add a component where an on-call engineer using the web app is able to retrieve 
        the criticality of their assigned customer tickets!
      
        I created app services in Azure to deploy both the API and web app. I also integrated telemetry to monitor API performance and latency.
      
      </p>
      <span class="badge bg-secondary">C#</span>
      <span class="badge bg-secondary">ASP.NET</span>
      <span class="badge bg-secondary">Azure</span>
      <span class="badge bg-secondary">MSTest</span>
      <span class="badge bg-secondary">KQL</span>
    </div>
  </div>
  <br>

  <div class="card" data-aos="fade-right">
    <div class="card-body" style="color: white;">

      <h5 class="card-title" style="font-size: 20px">Microsoft | Explore Intern</h5>
      <h6 class="card-subtitle mb-2 text-muted" style="font-size: 13px"> Redmond, Washington, USA | June 2022 - August
        2022</h6>
      <p class="card-text" style="color: #b2bec3;">
        Being an Explore Intern involves a Software Engineering and Product Management rotation.
        Built a questionnaire for the MSN Money Team to serve as a widget to provide users with personalized financial
        recommendations.
        As a team of 3 interns, worked with other software engineers and product managers to ensure all requirements are
        met.
        Integrated the project in the MSN Money codebase.
        Flighted the project to 5% of users, about 1.25M daily active users.
      </p>
      <span class="badge bg-secondary">TypeScript</span>
      <span class="badge bg-secondary">React</span>
    </div>
  </div>
  <br>

  <div class="card" data-aos="fade-right">
    <div class="card-body" style="color: white;">

      <h5 class="card-title" style="font-size: 20px">Major League Hacking | Production Engineering Fellow</h5>
      <h6 class="card-subtitle mb-2 text-muted" style="font-size: 13px"> Remote | June 2021 - August 2021</h6>
      <p class="card-text" style="color: #b2bec3;">
        Built and deployed a scalable Flask web app integrated with a PostgreSQL database to allow users to
        login/register.
        Set up a CI/CD pipeline through Github Actions for automated testing and deployment. Configured
        Linux systems and infrastructures.

      </p>
      <span class="badge bg-secondary">Python</span>
      <span class="badge bg-secondary">Flask</span>
      <span class="badge bg-secondary">HTML & CSS</span>
      <span class="badge bg-secondary">Github Actions</span>
      <span class="badge bg-secondary">Docker</span>
      <span class="badge bg-secondary">PostgreSQL</span>
      <span class="badge bg-secondary">Linux</span>
      <span class="badge bg-secondary">Bash Scripting</span>
      <span class="badge bg-secondary">Amazon Web Services (AWS) </span>
      <span class="badge bg-secondary">Grafana</span>
      <span class="badge bg-secondary">CI/CD</span>
      <span class="badge bg-secondary">NginX</span>
    </div>
  </div>
  <br>

  <div class="card" data-aos="fade-right">
    <div class="card-body" style="color: white;">

      <h5 class="card-title" style="font-size: 20px">McMaster Makers | Project Developer</h5>
      <h6 class="card-subtitle mb-2 text-muted" style="font-size: 13px">Hamilton, ON | May 2021 - May 2022</h6>
      <p class="card-text" style="color: #b2bec3;">
        Built software workshops for the student body at McMaster University with the goal to involve the student
        body
        with tech. Additionally,
        instruct software workshops at hackathons, such as DeltaHacks. I had an amazing opportunity to lead and create
        an Intro
        to React Native workshop for Deltahacks 8 attendees!
      </p>
    </div>
  </div>
  <br>
  <!-- </div> -->




</body>