<div class="card" data-aos="fade-right">
    <div class="card-body" style="color: white;">

        <h5 class="card-title" style="font-size: 20px">McMaster Makers | Project Developer</h5>
        <h6 class="card-subtitle mb-2 text-muted" style="font-size: 13px">Hamilton, ON | May 2021 - PRESENT</h6>
        <p class="card-text" style="color: #b2bec3;">
            Built software workshops for the student body at McMaster University with the goal to envolve the student
            body
            with tech. Additionally,
            intruct software workshops at hackathons, such as DeltaHacks.
        </p>
    </div>
</div>

<br>
<div class="card" data-aos="fade-right">
    <div class="card-body" style="color: white;">

        <h5 class="card-title" style="font-size: 20px">DeltaHacks | Supportive Relations Executive</h5>
        <h6 class="card-subtitle mb-2 text-muted" style="font-size: 13px">Hamilton, ON | May 2021 - Present</h6>
        <p class="card-text" style="color: #b2bec3;">
            Recruited numerous challengers, judges, and mentors. Created an engagement plan to ensure a positive
            experience.
            amongst all volunteers.
            Generated statistics for the number of judges, mentors, and challengers for previous year Deltahacks
            hackathons
            to
            coordinate the team's progress on recruitment.

        </p>
    </div>
</div>