<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://www.linkedin.com/in/ayesha-arshad-8332531b2/"><i class="icon ion-social-linkedin"></i></a>
            <a href="https://github.com/ayesha133"><i class="icon ion-social-github"></i></a>
            <a href="ayesharshad88@gmail.com"><i class="icon ion-email"></i></a>
        </div>

        <hr style="margin: auto" id="break_line">

        <p class="copyright">Ayesha Arshad © 2021</p>
    </footer>
</div>