<!DOCTYPE html>
<html lang="en">
<head>
<link lang='sass' rel="stylesheet" href="./static/styles/login.css">
</head>

<form action="/login" method="POST">
<div class="row">
  <div class="col-md-6 mx-auto p-0">
      <div class="card">
          <div class="login-box">
              <div class="login-snip">
                 <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
                 <input id="tab-2" type="radio" name="tab" class="sign-up"> <a for="tab-2" class="tab" href="/register">Sign Up</a>
                                                            
                 <div class="login-space">
                      <div class="login">
                          <div class="group"> <label for="user" class="label">Username</label> <input id="username" name="username" type="text" class="input" placeholder="Enter your username"> </div>
                          <div class="group"> <label for="pass" class="label">Password</label> <input id="password" name="password" type="password" class="input" data-type="password" placeholder="Enter your password"> </div>
                          <div class="group"> <input id="check" type="checkbox" class="check" checked> <label for="check"><span class="icon"></span> Keep me Signed in</label> </div>
                        {% if message %}
                          <p>{{ message }}</p>
                        {% endif %}
                          
                          <div class="button"> <button type="submit" class="button" value="Sign In">Sign in</button> </div>
                          <div class="hr"></div>
                          <div class="foot"> <a href="#">Forgot Password?</a> </div>
                      </div>
                     
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</form>
<!-- <form action="action_page.php" method="post">
  <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form> -->
</html>