<body>
  <br>
  <div data-aos="fade-right">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseOne">
            <h5>StreetEats</h5>
            <h5 style="margin-left: 36em;" id="projectYear">2021</h5>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse "
          aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            StreetEats is a Flask web app that suggests restaurants nearby after automatically accessing your location.
            Users are also able to add their favorite restaurants to lists after creating an account using our
            login/register system.
            This login/register system is built on a PostgreSQL database in Python. The web app is hosted on an EC2
            instance
            and an NginX reverse proxy. StreetEats is containerized using Docker and has its own CI/CD pipeline on
            Github Actions to allow for
            automated testing and deployment. Prometheus and Grafana are used for monitoring.
            StreetEats was one of the Winners of the Batch's Hackathon!

            <br>
            <br>
            <a href="https://github.com/ayesha133/StreetEats">Github</a>
            <a href="https://devpost.com/software/streeteats"> Devpost</a>
            <br>
            <br>
            <span class="badge bg-secondary">Python</span>
            <span class="badge bg-secondary">Flask</span>
            <span class="badge bg-secondary">HTML & CSS</span>
            <span class="badge bg-secondary">Github Actions</span>
            <span class="badge bg-secondary">Docker</span>
            <span class="badge bg-secondary">PostgreSQL</span>
            <span class="badge bg-secondary">Linux</span>
            <span class="badge bg-secondary">Bash Scripting</span>
            <span class="badge bg-secondary">Amazon Web Services (AWS) </span>
            <span class="badge bg-secondary">Grafana</span>
            <span class="badge bg-secondary">CI/CD</span>
            <span class="badge bg-secondary">NginX</span>
            <span class="badge bg-secondary">Prometheus</span>
            <span class="badge bg-secondary">IP Forwarding</span>
          </div>
        </div>
      </div>
      <br>

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo">
            <h5> Mac BillBoard</h5>
            <h5 style="margin-left: 36em;" id="projectYear">2021</h5>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">

            A cross-platform app with React Native that notifies all app users when posts have been made in the app and
            allows users
            to view all posts by implementing Firebase Realtime Database in the app.

            I noticed how it was difficult to keep myself and many other students updated on the university, as keeping
            up with university information on social media is quite difficult, since it is extremely easy to lose
            information online on Social Media. Therefore, I thought to solve this problem by creating an app that would
            send alerts to all students.
            This feature is implemented with the use of firebase realtime database. The user is prompted with a login
            system and if the user's info matches the admin's, they will be able to make in app posts. Once the
            admin makes the post, this information is displayed to all users and is sent to the firebase realtime
            database.

            <br>
            <br>
            <a href="https://github.com/ayesha133/BillBoard-App">Github</a>
            <br>
            <br>
            <span class="badge bg-secondary">React Native</span>
            <span class="badge bg-secondary">JavaScript</span>
            <span class="badge bg-secondary">FireBase Realtime Database</span>

          </div>
        </div>
      </div>

      <br>

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree">
            <h5>Robotic Arm</h5>
            <h5 style="margin-left: 36em;" id="projectYear">2020</h5>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            Led a team to code a virtual robotic arm in Python to lift and place 6 containers each holding a surgical
            tool for sterilization.
            Applied the use of a muscle sensor emulator to control the robotic arm with Python.

            <br>
            <br>
            <span class="badge bg-secondary">Python</span>
          </div>
        </div>
      </div>
      <br>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseFour">
            <h5>Portfolio Website</h5>
            <h5 style="margin-left: 36em;" id="projectYear">2021</h5>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingFour">
          <div class="accordion-body">
            I wanted a fun way to share my skills. What's better than my own website portfolio! This website
            is hosted on an Oracle VM instance and containerized with Docker. CI/CD pipeline is created through
            Github Actions to allow for automated testing and deployment.

            <br>
            <br>
            <a href="https://github.com/ayesha133/personal-website">Github</a>
            <br>
            <br>
            <span class="badge bg-secondary">Python</span>
            <span class="badge bg-secondary">Flask</span>
            <span class="badge bg-secondary">HTML & CSS</span>
            <span class="badge bg-secondary">Github Actions</span>
            <span class="badge bg-secondary">Docker</span>
            <span class="badge bg-secondary">Oracle VM Instance </span>
            <span class="badge bg-secondary">CI/CD</span>
            <span class="badge bg-secondary">NginX</span>


          </div>
        </div>
      </div>
      <br>

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseFive">
            <h5>Hypertension Guide </h5>
            <h5 style="margin-left: 36em;" id="projectYear">2020</h5>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingFive">
          <div class="accordion-body">
            Led a team to build a website in React that serves as a guide for individuals with Hypertension.
            Built a chatbot using React to create a Hypertension symptom quiz that interacts with the user by asking a
            series of questions
            regarding Hypertension symptoms. This project was created at DeltaHacks 7.
            <br>
            <br>
            <a href="https://github.com/ayesha133/heart-stroke">Github</a>
            <a href="https://devpost.com/software/hypertension-guide">Devpost</a>
            <br>
            <br>
            <span class="badge bg-secondary">JavaScript</span>
            <span class="badge bg-secondary">React</span>
            <span class="badge bg-secondary">HTML & CSS</span>
          </div>
        </div>
      </div>
      <br>



    </div>



</body>